body {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(212, 212, 212);
}
h1 {
  text-align: center;
}
.group {
  border-bottom: 1px solid black;
}

table {
  margin-top: 10px;
  margin-bottom: 40px;
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  width: 150px;
  border: 1px solid black;
  text-align: center;
}

.winner {
  font-size: 24px;
}

.footer {
  margin-top: 15px;
  margin-bottom: 10px;
}

button {
  height: 30px;
  padding: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #aaa;
}
